@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, code adventurer!</h1>
</div>
<div>
    <p>
        On this page you will find a set of challenges which can be solved anyway you want, in any programming language. <br />
        Some parts can even besolved with MS Words or maybe Excel! <br />
        <br />
        You will be given a task and an input. You have to build an algorithm or program that solves the task and gives you a result. <br />
        The result needs to be inserted in the submit form on the challenges page, and if the answer is correct, new challenges will get unlocked. <br />
        <br />
        All answers (probably) will be an integer number. <br />
        It is recommended that you save the input to a text file and load it into your program to a string or a list. <br />
        In C# this could as an example be done with: <br />
        string input = System.IO.File.ReadAllText(filePath); <br />
        <br />
        You can contact me on Discord or on email: <br />
        daniel.olsen@iths.se<br />
        <br />
        New challenges will be added now and then! <br/>
        Good luck! <br />
    </p>
</div>

